@font-face{
    font-family: Titulos;
    src: url(../fonts/Mattoa_Demo.ttf);
}
@font-face{
    font-family: Anton-Regular;
    src: url(../fonts/Anton-Regular.ttf);
}
body{
    overflow: hidden;
    font-family: 'Anton-Regular', sans-serif;
    letter-spacing: 0.05em;
}
h1 {
    font-family: Titulos;
    color: white;
}

#fondo_campo{    
    display: none;   
}
.oculto {
    display: none;
}
.marco_logo{
    position: absolute;    
    cursor: default;
    top: 50%;
    display: none;
    width: 100%;
    margin: 0 auto;
    font-size: 5em;
    text-shadow: 2px 2px #030800;
}
.marco_logo a {
    text-decoration: none;
    color: white;
}
.marco_logo_final{
    position: relative;
    width: 100%;
}
.form-busqueda{
    background-color: rgba(255, 52, 221, 0.9);
    width: 450px;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}

#divMapa {
width: 700px;
height: 350px;
border: 1px solid rgb(255, 255, 255); 
border-radius: 6px;
}
#pelota{
    position: absolute;
    display: inline-block;
    width: 25px;
    top:48%;
    left:38%;
}
@media screen and (max-width:450px){
    .marco_logo{
        font-size: 3em;
    }
    .form-busqueda{
        width: 100%;
    }
}